<header class="header">
  <img src="favicon.ico" alt="" style="max-width: 5.5%;">
  <h4>I.E.M Antonio Nariño</h4>
  <nav class="nav flex-column">
    <ul>
      <br>
      <li> <strong>{{ nombre }}</strong>  </li> 
      <li>
        <a href="#" routerLinkActive="active" data-bs-toggle="tooltip" title="Inicio">
          <i class="fas fa-home" style="font-size:20px"></i>
        </a>
        &nbsp;
        <a href="#" (click)="logout()" data-bs-toggle="tooltip" title="Cerrar sesión">
          <i class="fa fa-sign-out-alt" style="font-size:20px"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
