
.header {
  background: #2a81478e;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;  
}
  .header ul {
    list-style: none;
    gap: 15px;
    text-align: end;
  }
  .header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  