<div class="login-container">
 
  
  <div class="carrusel">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/src/app/assets/1.1.jpeg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/2.jpeg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="assets/3.jpeg" alt="Third slide">
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="authLogin()">
    <div class="logo">
      <img  class="icono" src="favicon.ico" alt="Logo">
  
    </div>
  <h2>Iniciar Sesión</h2>

    <label for="num_identificacion">Identificación</label>
    <input id="num_identificacion" formControlName="num_identificacion" required>
    
    <label for="contraseña">Contraseña</label>
    <input id="contraseña" type="password" formControlName="contraseña" required>
    
    <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <br>
    <div class="footer">
      <p>© 2025 <br>IEM Antonio Nariño</p>  
    </div>
  </form>
</div>

