<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="Candidatos">
    <div *ngIf="hascandidates == false">
      <h5 class="warning">Aún no se registran candidatos</h5>
    </div>

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" *ngIf="hascandidates == true ">

      <!-- TAB PERSONERO -->
      <mat-tab label="Personero">
        <div *ngIf="showPersonero == false">
          <h5 class="success">Ya has votado por personero/a</h5>
        </div>
        <div class="candidates-container" *ngIf="showPersonero == true">
          <mat-card *ngFor="let candidate of arrayPersonberos" class="candidate-card">
            <mat-card-header>
              <mat-card-title>{{ candidate.nombre }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="round-image" [src]="candidate.foto" alt="Foto del candidato">
            <br>
            <mat-card-content>
              <p>{{candidate.lema}}</p>
              &nbsp;
              <i type="button" class="btn btn btn-circle"><strong>{{0}}-{{candidate.numero}}</strong></i>
            </mat-card-content>
            <mat-card-actions class="center-button" *ngIf="mostrarTab2 == true">
              <button class="btn btn-success btn-circle" mat-button (click)="vote(candidate)"> Votar</button>
            </mat-card-actions>
          </mat-card>

          <!-- Opción de Voto en Blanco -->
          <mat-card class="candidate-card">
            <mat-card-header>
              <mat-card-title>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Voto en Blanco</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="round-image" src="https://backend-inedan.onrender.com/uploads/voto-blanco.jpeg"
              alt="Voto en Blanco">
            <br>
            <mat-card-content>
              <p>Si no deseas elegir a ningún candidato.</p>
            </mat-card-content>
            <mat-card-actions class="center-button" *ngIf="mostrarTab2 == true">
              <button mat-button class="btn btn-success btn-circle" (click)="voteBlank('personero/a')">Votar</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>

      <!-- TAB CONTRALORA -->
      <mat-tab label="Contralora">
        <div *ngIf="showContralor == false">
          <h5 class="success">Ya has votado por contralor/a</h5>
        </div>
        <div class="candidates-container" *ngIf="showContralor == true">
          <mat-card *ngFor="let candidate of arrayContralores" class="candidate-card">
            <mat-card-header>
              <mat-card-title>{{ candidate.nombre }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="round-image" [src]="candidate.foto" alt="Foto del candidato">
            <br>
            <mat-card-content>
              <p>{{candidate.lema}}</p>
              &nbsp;
              <i type="button" class="btn btn btn-circle"> <strong>{{0}}-{{candidate.numero}}</strong></i>
            </mat-card-content>
            <mat-card-actions class="center-button" *ngIf="mostrarTab2 == true">
              <button mat-button class="btn btn-success btn-circle" (click)="vote(candidate)">Votar</button>
            </mat-card-actions>
          </mat-card>

          <!-- Opción de Voto en Blanco -->
          <mat-card class="candidate-card blank-vote">
            <mat-card-header>
              <mat-card-title>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Voto en Blanco</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="round-image" src="https://backend-inedan.onrender.com/uploads/voto-blanco.jpeg"
              alt="Voto en Blanco">
            <br>
            <mat-card-content>
              <p>Si no deseas elegir a ningún candidato.</p>
            </mat-card-content>
            <mat-card-actions class="center-button" *ngIf="mostrarTab2 == true">
              <button mat-button class="btn btn-success btn-circle" (click)="voteBlank('contralor/a')">votar</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>

    </mat-tab-group>
  </mat-tab>




  <!--segundo tab------------------------------------------------------->
  <mat-tab label="Ingreso de candidatos" *ngIf="mostrarTab3===true">
    <mat-divider></mat-divider>

    <!-- Mensaje si ya hay candidatos registrados -->
    <div *ngIf="hascandidates" class="text-center">
      <h5 class="warning">Ya has registrado candidatos para esta elección</h5>
    </div>

    <!-- Formulario para registrar candidatos -->
    <div>
      <div class="text-center" *ngIf="!hascandidates">
        <h5>Selecciona los estudiantes que deseas registrar como candidatos</h5>
      </div>

      <!-- Indicador de carga -->
      <div *ngIf="loading" class="d-flex justify-content-center align-items-center" style="height: 100px;">
        <div class="spinner-border text-warning" role="status">
          <span class="visually-hidden">Cargando...</span>
        </div>
      </div>

      <!-- Input de búsqueda -->
      <input matInput (keyup)="applyGlobalFilter($event)" placeholder="Buscar" class="global-filter">

      <!-- Botón para guardar candidatos -->
      <button class="button-save" *ngIf="selectedStudents.length > 0&&!hascandidates" mat-flat-button
        matTooltip="Guardar candidatos" matTooltipPosition="above" style="border-radius: 20px;"
        (click)="createCandidates()">
        <i class="fa fa-save" style="color: black;"></i>
      </button>
    </div>

    <!-- Tabla de estudiantes -->
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Columna de selección -->
        <ng-container matColumnDef="selecciona">
          <th mat-header-cell *matHeaderCellDef> Selecciona <i class="fa fa-check"></i></th>
          <td mat-cell *matCellDef="let student">
            <mat-checkbox *ngIf="student.seleccionado=='No'" (change)="toggleSelection(student)"
              [checked]="selectedStudents.includes(student)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Columna ID -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let student"> {{ student.id }} </td>
        </ng-container>

        <!-- Columna Nombre -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let student"> {{ student.nombre }} </td>
        </ng-container>

        <!-- Columna Edad -->
        <ng-container matColumnDef="edad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Edad </th>
          <td mat-cell *matCellDef="let student"> {{ student.edad }} </td>
        </ng-container>

        <!-- Columna Grado -->
        <ng-container matColumnDef="grado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Grado </th>
          <td mat-cell *matCellDef="let student"> {{ student.grado }} </td>
        </ng-container>

        <!-- Columna Número de Identificación -->
        <ng-container matColumnDef="num_identificacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de Identificación </th>
          <td mat-cell *matCellDef="let student"> {{ student.num_identificacion }} </td>
        </ng-container>

        <!-- Columna Seleccionado -->
        <ng-container matColumnDef="Seleccionado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Seleccionado </th>
          <td mat-cell *matCellDef="let student">
            {{ student.seleccionado }}


          </td>

        </ng-container>
        <ng-container matColumnDef="Opciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>


          <td mat-cell *matCellDef="let student">
            <div class="form-group" *ngIf="student.seleccionado === 'Sí'">
              <label for="usr">Numero del candidato:</label>
              <input type="text" class="form-control" id="usr" [(ngModel)]="student.numero">
            </div>
            <div class="form-group" *ngIf="student.seleccionado === 'Sí'">
              <label for="comment">Lema:</label>
              <textarea class="form-control" rows="5" id="comment" [(ngModel)]="student.lema"></textarea>
            </div>
            <!-- Input para seleccionar imagen -->
            <input type="file" (change)="onFileSelected($event, student)" accept="image/*"
              *ngIf="student.seleccionado === 'Sí'">

            <!-- Botón para subir la imagen -->
            <button *ngIf="student.selectedFile&&student.lema&&student.numero" mat-button color="primary"
              (click)="uploadImage(student)">
              Subir imagen/lema/num_candidato
            </button>

            <!-- Mostrar la imagen subida -->
            <img *ngIf="student.uploadedImageUrl" [src]="student.uploadedImageUrl" alt="Imagen subida"
              style="max-width: 200px; display: block; margin-top: 10px;">

            <a class="btn btn-danger delete-btn" *ngIf="student.seleccionado === 'Sí'" mat-icon-button
              (click)="removeCandidate(student)">
              <i class="fa fa-trash small-icon"> &nbsp;Eliminar candidato</i>
            </a>

          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSize]="15" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>




    </div>
  </mat-tab>




  <!--tercer tab-------------------------------------------------------->

  <mat-tab label="Votos" *ngIf="mostrarTab3===true">
    <div style="text-align: center;">
      <strong style="display: block; margin-bottom: 10px; font-size: 18px;">Votos totales de la elección</strong>

      <div style="display: flex; justify-content: center; gap: 20px;">
        <h6>Personero</h6>
        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="data" [gradient]="false" [xAxis]="true"
          [yAxis]="true" [legend]="true" [showDataLabel]="true">
        </ngx-charts-bar-vertical>
        <h6>Contralor</h6>

        <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="data2" [gradient]="false"
          [xAxis]="true" [yAxis]="true" [legend]="true" [showDataLabel]="true">
        </ngx-charts-bar-vertical>
      </div>
    </div>
    <br>
    <br>
    <div class="votos_totales" style="text-align: center;">
      <div class="reporte">
        <label for="reporte">Reporte total votaciones - {{now}}</label> &nbsp;
        <button type="button" class="btn btn-success" (click)="generatePDF()"><i class="fa fa-file-pdf-o"
            style="font-size:18px"></i></button>
      </div>
      <h5>Reporte de votaciones I.E.M Antonio Nariño</h5>
      <!-- Contenedor del reporte que se convertirá a PDF -->
      <div id="pdfContent" class="border border-primary" *ngIf="repor==true">
        <!-- Tabla 1 -->
        <div class="header">
          <img src="favicon.ico" alt="" style="max-width: 6%;">
          <h5>Reporte de votaciones</h5>
          <h6>Año: {{now}}</h6>
          <h6>Hora: {{time}}</h6>

        </div>
        <br>
        <h6>Tabla 1: Personero/a</h6>
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Votos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td>{{ item.name }}</td>
              <td>{{ item.value }}</td>
            </tr>
            <br>
            <label for="win"><strong>Ganador</strong></label>
            <tr *ngIf="ganadorper" style="background-color: #d4edda;">
              <td>
                {{ganadorper.name}}
              </td>
              <td>
                {{ganadorper.value}}
              </td>
            </tr>
          </tbody>

        </table>

        <!-- Tabla 2 -->
        <h6>Tabla 2: Contralor/a</h6>
        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Votos</th>
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let item of data2">
              <td>{{ item.name }}</td>
              <td>{{ item.value }}</td>
            </tr>

            <br>
            <label for="win"><strong>Ganador</strong></label>
            <tr *ngIf="ganadorcon" style="background-color: #d4edda;">
              <td>
                {{ganadorcon.name}}
              </td>
              <td>
                {{ganadorcon.value}}
              </td>
            </tr>
          </tbody>
        </table>
        <br>
        <div style="text-align: center;">
          <strong style="display: block; margin-bottom: 10px; font-size: 18px;">Votos totales de la elección</strong>

          <div style="display: flex; justify-content: center; gap: 20px;">
            <h6>Personero</h6>
            <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="data" [gradient]="false"
              [legend]="false" [labels]="true">
            </ngx-charts-pie-chart>
            <br>
            <h6>Contralor</h6>
            <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="data2" [gradient]="false"
              [legend]="false" [labels]="true">
            </ngx-charts-pie-chart>
          </div>
        </div>
        <footer>
          <p>Este reporte fue generado por el sistema de votación de la I.E.M Antonio Nariño.</p>
          <p>Fecha de generación: {{time}}</p>
          <p><i class="fa fa-copyright" aria-hidden="true"></i> Todos los derechos reservados.<br>
            I.E.M Antonio Nariño. <br>Prohibida su reproducción total o parcial.
            <br> Año {{ now }}.
          </p>
        </footer>
      </div>
    </div>
  </mat-tab>


</mat-tab-group>