.vote-container {
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif !important;
  }
  
  .button-save {
    margin: 5px;
    padding: 8px;
    background: #69ba00f3;
    color: white;
    border: none;
    cursor: pointer;
  }
  .center-button {
    display: flex;
    justify-content: center;
    margin-left: 1%;
  }
  .round-image {
    width: 150px; /* Ajusta el tamaño según necesites */
    height: 150px; /* Debe ser igual al width para que sea un círculo */
    border-radius: 50%;
    object-fit: cover; /* Asegura que la imagen se ajuste bien */
    margin: 0 auto; /* Centrar la imagen */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  button:hover {
    background: #517300;
  }
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vh;
    background: rgba(0, 0, 0, 0.6); /* Fondo oscuro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050; /* Asegura que esté sobre todo */
  }
  .candidates-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    padding: 2%;
    background-color: #d1dab9a6;
}

.candidate-card {
  margin-top: 10px;
    width: 250px;
    justify-content: center;
    text-align: center;
    background-color:#bfe0c065 ;
    box-shadow: 2px 2px 2px 1px rgba(1, 1, 1, 0.5);

}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 30px;
  padding: 5px;
  line-height: 30px; 
}

.small-icon {
  font-size: 12px; /* Ajusta según sea necesario */
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 8px;
  text-align: left;
}
.header {
  background: linear-gradient(20deg, #09729fcc 40%, #ceb62eb9 60%);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius:4px;
}
.pdfcontent{
  border-radius:4px;
}