<!-- Vista Lista -->
<div *ngIf="componenteActivo === 'lista'" class="row g-3" >
  <div class="col-12">
    <h4 class="mb-3">Materias asignadas</h4>
  </div>

  <div class="col-md-4" *ngFor="let asignatura of listaAsing.asignaturas" >
    <mat-card class="h-100 text-truncate" style="cursor: pointer;" style="padding:2rem;">
      <mat-card-title class="d-flex align-items-center gap-2">
        <i [ngClass]="iconoAsignatura(asignatura.descripcion)" class="bi fs-4"></i>
        <span class="text-truncate" style="max-width: 85%;">{{ asignatura.descripcion }}</span>
        
        <!-- Botón de ver nota con tooltip -->
    
      </mat-card-title>

      <mat-card-content>
        <small><strong>Horas por semana:</strong> {{ asignatura.cantidad_horas_week }}</small>
      </mat-card-content>

      <mat-card-actions class="mt-2">
            <button mat-icon-button
                matTooltip="Ver nota"
                (click)="verNota(asignatura)"
                class="ms-auto">
          <i class="bi bi-eye-fill"></i>Ver notas
        </button>
        &nbsp;
        <button mat-button color="primary" (click)="abrirModuloAsignatura(asignatura)">
          <i class="bi bi-eye"></i> Ver Talleres
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


<!-- Vista Detalle -->
<div *ngIf="componenteActivo === 'detalle'" class="container mt-3">
  <button class="btn btn-outline-secondary mb-3" (click)="volverAlListado()">
    <i class="bi bi-arrow-left"></i> Volver a asignaturas
  </button>

  <h4><i [ngClass]="iconoAsignatura(asignaturaSeleccionada.descripcion)" class="bi me-2"></i>{{ asignaturaSeleccionada.descripcion }}</h4>
  <hr>

  <p><strong>ID Asignatura:</strong> {{ asignaturaSeleccionada.id_asignatura }}</p>
  <p><strong>Horas semanales:</strong> {{ asignaturaSeleccionada.cantidad_horas_week }}</p>

  <mat-tab-group mat-stretch-tabs *ngIf="!loadingTalleres">
    <!-- PERIODO 1 -->
    <mat-tab label="Periodo 1">
      <ng-container *ngIf="talleresPorPeriodo.periodo_1.length > 0; else sinTalleres1">
        <table class="table table-bordered table-striped mt-3">
          <thead>
            <tr>
              <th>#</th>
              <th>Descripción</th>
              <th>Fecha de apertura</th>
              <th>Fecha de cierre</th>
              <th>Estado</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let taller of talleresPorPeriodo.periodo_1; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ taller.detalle_taller }}</td>
              <td>{{ taller.fecha_ini | date:'shortDate' }}</td>
              <td>{{ taller.fecha_fin | date:'shortDate' }}</td>
              <td>
                <span [ngClass]="getEstadoTaller(taller).clase">
                  {{ getEstadoTaller(taller).estado }}
                </span>
              </td>
              <td>
                <button class="btn btn-sm btn-primary" (click)="verDetalleTaller(taller.id_taller)">
                  <i class="bi bi-eye"></i> Detalle del taller
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #sinTalleres1>
        <p class="text-muted mt-3">No hay talleres para este periodo.</p>
      </ng-template>
    </mat-tab>

    <!-- PERIODO 2 -->
    <mat-tab label="Periodo 2">
      <ng-container *ngIf="talleresPorPeriodo.periodo_2.length > 0; else sinTalleres2">
     <table class="table table-bordered table-striped mt-3">
          <thead>
            <tr>
              <th>#</th>
              <th>Descripción</th>
              <th>Fecha de apertura</th>
              <th>Fecha de cierre</th>
              <th>Estado</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let taller of talleresPorPeriodo.periodo_2; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ taller.detalle_taller }}</td>
              <td>{{ taller.fecha_ini | date:'shortDate' }}</td>
              <td>{{ taller.fecha_fin | date:'shortDate' }}</td>
              <td>
                <span [ngClass]="getEstadoTaller(taller).clase">
                  {{ getEstadoTaller(taller).estado }}
                </span>
              </td>
              <td>
                <button class="btn btn-sm btn-primary" (click)="verDetalleTaller(taller)">
                  <i class="bi bi-eye"></i> Detalle del taller
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #sinTalleres2>
        <p class="text-muted mt-3">No hay talleres para este periodo.</p>
      </ng-template>
    </mat-tab>

    <!-- PERIODO 3 -->
    <mat-tab label="Periodo 3">
      <ng-container *ngIf="talleresPorPeriodo.periodo_3.length > 0; else sinTalleres3">
       <table class="table table-bordered table-striped mt-3">
          <thead>
            <tr>
              <th>#</th>
              <th>Descripción</th>
              <th>Fecha de apertura</th>
              <th>Fecha de cierre</th>
              <th>Estado</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let taller of talleresPorPeriodo.periodo_3; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ taller.detalle_taller }}</td>
              <td>{{ taller.fecha_ini | date:'shortDate' }}</td>
              <td>{{ taller.fecha_fin | date:'shortDate' }}</td>
              <td>
                <span [ngClass]="getEstadoTaller(taller).clase">
                  {{ getEstadoTaller(taller).estado }}
                </span>
              </td>
              <td>
                <button class="btn btn-sm btn-primary" (click)="verDetalleTaller(taller.id_taller)">
                  <i class="bi bi-eye"></i> Detalle del taller
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #sinTalleres3>
        <p class="text-muted mt-3">No hay talleres para este periodo.</p>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
