<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Login administracion">
        <mat-divider></mat-divider>

        <div>


            <input matInput (keyup)="applyGlobalFilter($event)" placeholder="Buscar" class="global-filter">
        </div>


        <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">




                <ng-container matColumnDef="Numero">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let student"> {{ student.id }} </td>
                </ng-container>

                <!-- Columna Nombre -->
                <ng-container matColumnDef="imagen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
                    <td mat-cell *matCellDef="let student">
                        <img *ngIf="student.foto" [src]="student.foto" alt="Foto" width="50">
                    </td>

                </ng-container>


                <ng-container matColumnDef="Opciones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>


                    <td mat-cell *matCellDef="let student">

                        <br>
                        <input type="file" (change)="onFileSelected($event, student)" accept="image/*">
                        &nbsp;
                        <a mat-button class="btn btn-success btn-sm" (click)="uploadImage(student)">
                            <i class="fa fa-save"></i>
                        </a>

                        <!-- Mostrar la imagen subida -->
                        <img *ngIf="student.uploadedImageUrl" [src]="student.uploadedImageUrl" alt="Imagen subida"
                            style="max-width: 200px; display: block; margin-top: 10px;">


                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

           <mat-paginator #paginatorLogin [pageSize]="15" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>

        </div>
    </mat-tab>
    <mat-tab label="Aignación de carga academica">
        <mat-divider></mat-divider>

        <div>

            <!-- Input de búsqueda -->
            <input matInput (keyup)="applyGlobalFilter($event)" placeholder="Buscar" class="global-filter">
        </div>

        <!-- Tabla de estudiantes -->
        <div class="table-container">
            <table mat-table [dataSource]="dataSource2" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="Identificacion del docente">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero de Identificación </th>
                    <td mat-cell *matCellDef="let profesor"> {{ profesor.num_identificacion }} </td>
                </ng-container>
                <ng-container matColumnDef="Nombre completo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre completo del docente </th>
                    <td mat-cell *matCellDef="let profesor"> {{ profesor.nombre }} </td>
                </ng-container>
                <ng-container matColumnDef="Sede">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede </th>
                    <td mat-cell *matCellDef="let profesor"> {{ profesor.sede_info.detalle }} </td>
                </ng-container>
                <ng-container matColumnDef="Vigencia">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vigencia </th>
                    <td mat-cell *matCellDef="let profesor"> {{ profesor.vigencia }} </td>
                </ng-container>
                <ng-container matColumnDef="Opciones">
                    <th mat-header-cell *matHeaderCellDef> Opciones </th>
                    <td mat-cell *matCellDef="let profesor">
                        <!-- Botón para asignar grado -->
                        <button mat-icon-button  (click)="abrirModalGrado(profesor)"
                            matTooltip="Asignar grado">
                            <i class="fas fa-user-clock">Asignar director de grupo</i>
                        </button>
                        &nbsp;
                        <!-- Botón para asignar asignaturas -->
                        <button mat-icon-button  (click)="abrirModalAsignaturas(profesor)">
                            <i class="fas fa-book"> Distribuir asignaturas</i>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsdocentes"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsdocentes;"></tr>
            </table>

       <mat-paginator #paginatorDocentes [pageSize]="15" [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>

        </div>
    </mat-tab>
<mat-tab label="Creación de cursos y asignaturas">
  <mat-divider></mat-divider>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th>Sede</th>
      <th>Grado</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let grupo of grupoEstudiantes">
      <td>{{ grupo.sede }}</td>
      <td>{{ grupo.grado-1 }}</td>
      <td>{{ grupo.cantidad }}</td>
    </tr>
  </tbody>
</table>

<div class="text-end mt-3">
  <button class="btn btn-success" (click)="crearCursos()">Crear Cursos</button>
</div>

</mat-tab>
</mat-tab-group>