.container {
    display: flex;
    height: 100%;
  }

  .sidebar a:hover {
    background: #0056b3;
  }
  

  /* Cuando el sidebar está abierto */
.w3-container.open {
  margin-left: 15%; /* Ajusta el margen para empujar el contenido */
  transition: margin-left 0.3s ease;

}

/* Cuando el sidebar está cerrado */
.w3-container {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}
#mySidebar {
  background-color: #ffffcb !important;
 
}

.content {
  padding: 20px;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  height: 80vh; /* Ajusta el alto para que no se desborde */
  background: white; /* Fondo blanco */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra gris */
  background-color: #efefef;
  overflow: hidden; /* Evita desbordamiento lateral */
  overflow-y: auto; /* Permite scroll vertical si el contenido es grande */
}


/* Estilos del sidebar */
.w3-sidebar {
  width: 15%; /* Ancho fijo del sidebar */
}
.w3-sidebar {
  border: 2px solid rgba(133, 129, 129, 0);
}