
html, body { 
    height: 100%; 
    font-family:Georgia, 'Times New Roman', Times, serif;
}
::ng-deep html, body {
    font-family: 'Roboto', sans-serif !important;
}

.h-divider{
    margin-top:5px;
    margin-bottom:5px;
    height:1px;
    width:100%;
    border-top:1px solid gray;
   }
   img[mat-card-image] {
    height: 300px; /* Ajusta la altura según necesites */
    object-fit: cover; /* Para que la imagen se ajuste sin deformarse */
  }

.global-filter{
    background-color: #4c586411;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.button-save {
    margin: 5px;
    padding: 8px;
    background: #69ba00f3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Mantiene el borde redondeado */
    transition: background 0.3s ease-in-out; /* Agrega una transición suave */
}

.button-save:hover {
    background: #4a8a00; /* Cambia el color cuando el mouse esté encima */
}
.button-delete {
    margin: 5px;
    padding: 8px;
    background: #ba0600f3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Mantiene el borde redondeado */
    transition: background 0.3s ease-in-out; /* Agrega una transición suave */
}

.button-delete:hover {
    background: #8a3e0091; /* Cambia el color cuando el mouse esté encima */
}
  .warning {
        background-color: #ffcc0083;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        text-align: center;
        width: auto; /* Se ajusta automáticamente al contenido */
        display: inline-block; /* Para que no ocupe todo el ancho */
    }
    .success {
        background-color: #69ba00f3;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        text-align: center;
        width: auto; /* Se ajusta automáticamente al contenido */
        display: inline-block; /* Para que no ocupe todo el ancho */
    }
    
