<mat-tab-group>
    <mat-tab label="Bienes">
      <!-- <app-bienes-list></app-bienes-list> -->
    </mat-tab>
    <mat-tab label="Ingreso">
      <div class="container">
        <h2>Gestión de Inventario</h2>
        <!-- Tabla de bienes -->
        <table class="table">
          <thead>
            <tr>
              <th>Detalle</th>
              <th>Costo</th> 
              <th>Tipo</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let property of lspropierties; let i = index">
              <td>
                <input type="text" class="form-control" [(ngModel)]="property.detalle" placeholder="Ingrese detalle" required>
              </td>
              <td>
                <input type="number"class="form-control" [(ngModel)]="property.costo" placeholder="Ingrese costo" required>
              </td>
              <td>
                <select class="form-select"[(ngModel)]="property.tipo" required>
                  <option value="" disabled>Seleccione un tipo</option>
                  <option *ngFor="let type of types" [value]="type.id">
                    {{ type.detalle }}
                  </option>
                </select>
              </td>
              <td>
                <a type="button"  class="btn btn-outline-danger" (click)="removeProperty(i)" *ngIf="lspropierties.length > 1">
                  ❌ Eliminar
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      
        <!-- Botón para agregar otro bien -->
        <a type="button" class="btn btn-outline-primary"   (click)="addToList()">➕ Agregar otro bien</a>
       &nbsp;
        <!-- Botón para enviar el formulario -->
        <a type="button" class="btn btn-outline-success" (click)="createproperty()">💾 Guardar bienes</a>
      </div>
      
      
    </mat-tab>
    <mat-tab label="Salida">
      <!-- <app-salida-form></app-salida-form> -->
    </mat-tab>
    <mat-tab label="Historial">
      <!-- <app-historial></app-historial> -->
    </mat-tab>
  </mat-tab-group>
  
